.profile {
  width: 500px;
  padding: 10px;
  margin: 250px auto 150px;
  text-align: center;
  color: var(--text-color-contrasted);
  background-color: var(--primary-color);
}

.profile .name {
  margin-top: 5px;
  margin-bottom: 0;
}
.profile .bio {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: lighter;
  opacity: 0.8;
}

.profile .avatar {
  display: block;
  width: 50%;
  margin: 0 auto -25%;
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  transform: translateY(-50%);
}

.profile .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}
.profile .social .item {
  flex: 1 1 30px;
  position: relative;
  margin: 0 10px;
  font-size: 1.5rem;
}
.profile .social .item::before {
  content: attr(data-value);
  position: absolute;
  left: 50%;
  display: block;
  padding: 10px;
  font-size: 0.75rem;
  border-radius: 5px;
  color: var(--text-color-tooltip);
  background-color: var(--bg-color-tooltip);
  transform: translate(-50%, -110%);
  opacity: 0;
  transition: all 250ms ease-in-out;
}
.profile .social .item:hover::before {
  opacity: 1;
}
