.profile {
  width: 500px;
  padding: 10px;
  margin: 200px auto 0;
  text-align: center;
  color: var(--text-color-contrasted);
  background-color: var(--primary-color);
}

.profile .avatar {
  display: block;
  width: 50%;
  margin: 0 auto -25%;
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  transform: translateY(-50%);
}
