.projects {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: stretch;
	align-items: top;
}
.projects .project {
	position: relative;
	padding: 20px;
	color: var(--text-color);
	border: 1px solid var(--primary-color);
	border-radius: 2px;
}

.projects .project > * {
	margin: 0 0 10px;
}
.projects .project > *:last-child {
	margin: 0;
}
.projects .project a {
	color: var(--primary-color);
}
.projects .project p {
	font-size: 1.25rem;
}
.projects .project .delete {
	--size: 1.4rem;
	position: absolute;
	top: 0;
	right: 0;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	color: var(--text-color);
	background-color: var(--bg-color);
	font-size: var(--size);
	transform: translate(50%, -50%);
	cursor: pointer;
}
.projects .project .info .item {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 10px 0 0;
}
.projects .project .info .item svg {
	margin-right: 5px;
}
