/*** VARIABLES */
:root {
	--primary-color: #5b8c85;

	--text-color: #ecce6d;
	--text-color-contrasted: #ecce6d;
	--text-color-tooltip: var(--text-color);
	--bg-color: #434e52;
	--bg-color-tooltip: var(--bg-color);

	--base-font: 16px;
	--base-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;

	--desktop-width: 1280px;

	--nav-height: 65px;
	--side-padding: 20px;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: var(--nav-height) 0 0;
	font-size: var(--base-font);
	font-family: var(--base-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--text-color);
	background-color: var(--bg-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

main {
	max-width: var(--desktop-width);
	min-height: 100vh;
	padding: 0 var(--side-padding);
	margin: 0 auto;
}

main > * {
	margin: 0 0 50px;
}

figure {
	margin: 0;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.75rem;
}
h3,
h4,
h5,
h6 {
	font-size: 1.5rem;
}
